.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.carousel__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.carousel__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}