/* Media Query for Desktops and Laptops */
@media screen and (min-width: 1200px){
  .head_up_left {
    font-size: 0.85rem;
    width: 21rem;
    font-weight: 500;
  }
  .fb_ico, .ln_ico, .tw_ico, .in_ico {
    width: 1.1rem;
  }
  .pg_title, .pg_title_left {
    font-size: 32px;
  }
  .navlinks {
    align-items: center;
  }
  .navlink {
    font-size: 16px;
  }
  .landing {
    margin-top: 1.5rem;
  }
  .pg_title_landing {
    font-size: 47px;
  }
  .know_more, .whatsapp {
    font-size: 15px;
  }
  .chat_ctc {
    width: 11.5rem;
  }
  .call_to_action {
    width: 26rem;
  }
  .stat_per {
    font-size: 38px;
  }
  .stat_brief, .stat_brief2, .company_brief, .tagline {
    font-size: 14px;
  }
  .ren_wor {
    font-size: 10px;
  }
  .ser_off_title {
    font-size: 40px;
  }
  .ser_off_line_socials {
    left: -3.6rem;
    top: 118%;
  }
  .prod_range_title {
    font-size: 52px;
  }
  .prod_range_range {
    font-size: 41px;
  }
  .meshed_rectangle1 {
    left: 9.3%;
    top: 176%;
  }
  .ser_off_ic {
    width: 1.1rem;
  }
  .ellipse4 {
    top: 249%;
  }
  .ellipse3 {
    top: 298%;
  }
  .ellipse5 {
    top: 246%;
  }
  .why_us_title {
    font-size: 48px;
  }
  .eco_frip_title {
    font-size: 41px;
    width: 20rem;
  }
  .meshed_rectangle2 {
    top: 340%;
  }
  .eco_txt {
    font-size: 15px;
  }
  .ellipse_dec1 {
    top: 367.5%;
  }
  .c_rev_title {
    font-size: 52px;
    width: 24rem;
  }
  .c_rev_title_middle {
    font-size: 58px;
  }
  .p_part_head{
    font-size: 48px;
  }
  .meshed_rectangle3{
    top: 334%;
  }
  .from_owner_orn {
    top: 264.1rem;
    left: 4.9rem;
  }
}

/* Media Query for Tablets */
@media screen and (max-width: 800px) {
  .head_up, .nav_up_line, .head_main, .landing_whole, .landing_below_content, .services_offered_whole {
    width: 80vw;
  }
  .navlinks {
    width: 56%;
  }
  .landing_whole {
    flex-direction: column;
    height: 98%;
  }
  .landing {
    height: 114vh;
  }
  .pg_title_landing {
    font-size: 47px;
  }
  .tagline {
    font-size: 14px;
  }
  .call_to_action {
    width: 26rem;
    font-size: 15px;
  }
  .know_more, .whatsapp {
    font-size: 15px;
  }
  .chat_ctc {
    width: 11.5rem;
  }
  .company_brief {
    font-size: 14px;
  }
  .stat_brief, .stat_brief2 {
    font-size: 14px;
  }
  .ser_off_title {
    font-size: 41px;
  }
  .landing_left {
    justify-content: flex-start;
  }
  
  .landing_right {
    justify-content: flex-start;
    align-items: center;
  }
  .col_pin {
    top: 55.3rem;
    left: 41%;
  }
  .eco_frip_title {
    top: 178rem;
    font-size: 40px;
    width: 20rem;
  }
  .from_owner_orn {
    top: 347rem;
    font-size: 20rem;
  }
  .c_rev_title {
    font-size: 40px;
    width: 80vw;
    text-align: center;
    margin-top: 1.8rem;
  }
  .c_rev_title_middle {
    font-size: 40px;
  }
  .ellipse1 {
    top: 57rem;
  }
  .ellipse2 {
    top: 135%;
  }
  .ser_off_line_socials {
    left: -4.4rem;
    top: 76.8rem;
  }
  .meshed_rectangle1 {
    top: 103.7rem;
    left: 2.7rem;
  }
  .ser_off_socials_pr {
    top: 132rem;
  }
  .prod_range_title {
    font-size: 58px;
  }
  .prod_range_range {
    font-size: 44px;
  }
  .ser_off_ic {
    width: 1.1rem;
  }
  .ellipse4{
    top: 137rem;
  }
  .ellipse3 {
    top: 174rem;
  }
  .why_us {
    height: 100vh;
  }
  .why_us_body {
    height: 65vh;
  }
  .why_us_content {
    height: 89%;
  }
  .ellipse5 {
    top: 141rem;
  }
  .why_us_title {
    font-size: 55px;
  }
  .why_us_ic {
    width: 11rem;
  }
  .why_us_ico_desc {
    height: 40vh;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .eco_frip {
    height: 82vh;
  }
  .eco_frip_body {
    width: 80vw;
    gap: 2rem;
    height: 60vh;
  }
  .meshed_rectangle2 {
    top: 184.7rem;
  }
  .eco_txt {
    font-size: 15px;
  }
  .ellipse_dec1 {
    top: 222rem;
  }
  .meshed_rectangle3{
    top: 192rem;
  }
  .c_rev_body{
    align-items: flex-start;
  }
  .contact-heading {
    font-size: 52px;
    justify-content: center;
    width: 100%;
  }
  .contact-wrapper {
    flex-direction: column;
  }
  .contact-details {
    width: 100%;
  }
  .con_office_head {
    font-size: 32px;
  }
  .con_office_body, .con_phone {
    font-size: 17px;
  }
  .contact-bottom {
    justify-content: space-evenly; 
  }
  .con_coffee{
    display: none;
  }
  .googleMap, .map {
    width: 100%;
    height: 50vh;
  }
  .from-owner {
    margin-top: 9rem;
  }
  .fb_ico, .ln_ico, .in_ico, .tw_ico {
    width: 1.1rem;
  }
  .c_rev_br1{
    display: none;
  }
}

/* Media Query for Small Width Screen Devices */
@media screen and (max-width: 644px) {
  .head_up_right {
    width: 19%;
  }
  .pg_title {
    width: 7.2rem;
  }
  .col_pin {
    top: 57.3rem;
  }
  .meshed_rectangle1 {
    top: 106.7rem;
  }
  .ellipse4 {
    top: 139.5rem;
  }
  .ellipse3 {
    top: 177.5rem;
  }
  .eco_frip_title {
    top: 183rem;
  }
  .prime-partners {
    height: 118vh;
  }
  .from_owner_body {
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  .owner-img {
    width: 60%;
  }
  .from_owner_orn {
    top: 375.4rem;
    left: 7.8rem;
  }
  .owner-quote {
    width: 90%;
  }
  .googleMap, .map {
    height: 70vh;
  }
  .ellipse1 {
    top: 58.5rem;
  }
  .ser_off_line_socials {
    left: -5.4rem;
    top: 78.8rem;
  }
  .ellipse2 {
    top: 161%;
  }
  

}