*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.head_up{
    margin-top: 2rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_up_line{
    display: flex;
    height: .1rem;
    width: 90%;
    background-color: black;
}
.head_up_right{
    display: flex;
}
.head_main{
    width: 90%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.pg_title_left{
    color: #0085FF;
}
.navlinks{
    margin-top: 1rem;
    display: flex;
    width: 35%;
    justify-content: space-between;
}
.landing{
    display: flex;
    justify-content: center;
    height: 33rem;
}
.landing_whole{
    display: flex;
    width: 90%;
    height: 100%;
}
.landing_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 50%;
}
.pg_title_landing{
    font-size: 3rem;
}
.call_to_action{
    margin-top: 1rem;
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.company_brief{
    width: 80%;
    margin-top: 1.2rem;
}
.stats{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.up_stats{
    display: flex;
    justify-content: space-between;
    width: 26rem;
}
.stat_per{
    font-size: 2rem;
}
.stat1{
    width: 11rem;
}
.stat2{
    margin-top: 2rem;
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.stat_brief2{
    display: flex;
    width: 70%;
}
.landing_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    align-items: flex-end;
}
.landing_right_up{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.box{
    width: 33rem;
    border-radius: 1rem;
    height: 22rem;
    background-color: #0085FF;
}
.carousal_nav{
    margin: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
}
.zero_one{
    display: absolute;
}
.landing_below{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.landing_end_line{
    width: 72%;
    height: .1rem;
    background-color: black;
}
