:root {
  --color-primary: #FF2C3A;
  --color-secondary: #747474;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #5C5C5C;
  background-color: #FEFEFE;
}

h1 {
  margin-bottom: 2rem;
  color: #FF2C3A;
}

p {
  line-height: 21px;
}

strong {
  color: #747474;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.head_up {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head_up_left {
  display: flex;
  width: 22rem;
  justify-content: space-between;
}

.mail_nav {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.mail_nav_txt {
  margin-left: 0.7rem;
}

.mail__nav_ico {
  font-size: 1.5rem;
}

.phone_nav {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.phone_nav_txt {
  margin-left: 0.7rem;
}

.phone_nav_ico {
  font-size: 1.15rem;
}

.fb_ico {
  width: 1.6rem;
}

.ln_ico {
  width: 1.6rem;
}

.tw_ico {
  width: 1.6rem;
}

.in_ico {
  width: 1.6rem;
}

.nav_up_line {
  display: flex;
  height: .1rem;
  width: 90%;
  background-color: black;
}

.head_up_right {
  display: flex;
  width: 15rem;
  justify-content: space-between;
}

.head_main {
  width: 90%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.pg_title_left {
  color: #0085FF;
}

.navlinks {
  text-decoration: none;
  margin-top: 1rem;
  display: flex;
  width: 35%;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
  color: black;
}

.landing {
  display: flex;
  justify-content: center;
  height: 33rem;
}

.landing_whole {
  display: flex;
  width: 90%;
  height: 100%;
}

.landing_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 50%;
}

.pg_title_landing {
  font-size: 3rem;
}

.call_to_action {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 27rem;
  justify-content: space-between;
}

.know_more {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
}

.arrow_ico {
  font-size: 0.7rem;
  margin-left: 1rem;
}

.chat_ctc {
  display: flex;
  justify-content: space-between;
  width: 11.5rem;
}

.whatsapp {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
}

/* .wh_ico {
  /* margin-left: 0.5rem; */


.company_brief {
  width: 80%;
  margin-top: 1.2rem;
}

.stats {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.up_stats {
  display: flex;
  justify-content: space-between;
  width: 26rem;
}

.stat_per {
  font-size: 2rem;
}

.stat1 {
  width: 11rem;
}

.stat2 {
  margin-top: 2rem;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.stat_brief2 {
  display: flex;
  width: 70%;
}

.landing_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  align-items: flex-end;
}

.landing_right_up {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box {
  width: 33rem;
  border-radius: 1rem;
  height: 22rem;
  background-color: #0085FF;
}

.carousal_nav {
  margin: 0 0 0 2rem;
  display: flex;
  flex-direction: column;
}

.zero_one {
  display: absolute;
}

.landing_below {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.landing_end_line {
  width: 72%;
  height: .1rem;
  background-color: black;
}

/* Prime partners */
.prime-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accenture {
  grid-area: 'accenture';
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;

}

.partners {
  display: grid;
  row-gap: 2rem;
  column-gap: 12rem;
  grid-template-areas: 'accenture accenture accenture accenture accenture' 'accenture accenture accenture accenture accenture' 'accenture accenture accenture accenture accenture' 'accenture accenture accenture accenture accenture' 'accenture accenture accenture accenture accenture';
}

.contact-heading {
  margin-left: 31rem;
  margin-bottom: 0;
  font-size: 3rem;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;

}

.contact-red {
  padding: 2rem;
  height: 25rem;
  width: 48rem;
  color: #FFFFFF;
  flex-direction: column;
  background: linear-gradient(239.3deg, #FF2C3A 27.01%, #FFE199 174.43%, #FF2C3A 174.43%);
  ;
}

.contact-box:nth-child(1) {
  margin-right: 20rem;
  margin-bottom: 3rem;
}

.contact-box:nth-child(2) {
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-bottom {
  display: flex;
  justify-content: space-between;
}

.contact-social_icons {
  margin: 2rem 2rem;
}

.coffee {
  margin: 1rem 0 0 0;
}

.contact-map {
  width: 45%;
  height: 30rem;
  border-radius: 3%;
  margin: 0rem 2rem;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

.contact-bottm>h1 {
  margin: 2rem;
}

/* From owner */
.from-owner {
  display: flex;
  margin: 3rem 3rem;
  justify-content: space-evenly;
}

.owner-img {
  height: 25rem;
  width: 25rem;
  border-radius: 4%;
}

.owner-pic {
  height: 100%;
  width: 100%;
  border-radius: 3%;
}

.owner-quote {
  margin: 0rem 2rem;
  padding: 1rem;
  width: 50%;
}

.owner-signature {
  height: 75px;
  width: max-content;
  object-fit: contain;

  margin: 2rem 0;
  background-color: gray;
}


/* Footer css */

footer {
  margin: 3rem;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  font-size: medium !important;
}



.footer-social_icons {
  padding-top: 1rem;
}