@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary: #FF2C3A;
  --color-secondary: #747474;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #5C5C5C;
  background-color: #FEFEFE;
}

h1 {
  margin-bottom: 2rem;
  color: #FF2C3A;
}

p {
  line-height: 21px;
}

strong {
  color: #747474;
}


/* Prime partners */
.prime-partners {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accenture {
  grid-area: 'accenture';
  height: 3rem;
  width: 5rem;
  display: flex;
  justify-content: center;

}

.partners {
  display: grid;
  row-gap: 2rem;
  column-gap: 7rem;
  margin-top: 2.5rem;
  grid-template-areas: 'accenture accenture accenture accenture accenture' 'accenture accenture accenture accenture accenture' 'accenture accenture accenture accenture accenture' 'accenture accenture accenture accenture accenture' 'accenture accenture accenture accenture accenture';
}

.contact-us{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-heading {
  width: 48.8vw;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
}

.contact-wrapper {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.contact-details{
  display: flex;
  flex-direction: column;
  width: 48.8vw;
  justify-content: space-between;
}

.contact-red {
  /* padding: 2rem; */
  /* height: 25rem; */
  display: flex;
  width: 100%;
  height: 50vh;
  color: #FFFFFF;
  flex-direction: column;
  background: linear-gradient(239.3deg, #FF2C3A 27.01%, #FFE199 174.43%, #FF2C3A 174.43%);
  align-items: center;
  justify-content: center;
}

.ellipse6{
  position: absolute;
  left: 0;
  top: 587%;
}

.contact_red_in{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  height: 100%;
}

.con_office_head{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
}
.con_office_head:nth-child(1){
  margin-top: 1rem;
}

.con_office_body{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.contact-box:nth-child(1){
  display: flex;
  flex-direction: column;
}

.contact-box:nth-child(2){
  display: flex;
  flex-direction: column;
  text-align: right;
}


.contact-bottom {
  display: flex;
  justify-content: space-between;
}

.contact-social_icons {
  margin: 2rem 2rem;
}

.con_socials{
  display: flex;
  align-items: center;
  width: 36%;
  justify-content: space-evenly;
}

.coffee {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  margin-top: 1rem;
}

.contact-map {
  width: 48%;
  margin-right: 1rem;
  /* height: 30rem; */
  /* border-radius: 3%; */
  /* margin: 0rem 2rem; */
}

.map {
  width: 100%;
  /* height: 100%; */
  /* border-radius: 3%; */
  filter: drop-shadow(4px 4px 27px rgba(0, 0, 0, 0.24));
}

.contact-bottm>h1 {
  margin: 2rem;
}

/* From owner */

.from-owner {
  display: flex;
  margin-top: 12rem;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 9rem;
}

.from_owner_body{
  display: flex;
  width: 83vw;
  justify-content: center;
  gap: 1.9rem;
}

.from_owner_orn{
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 500px;
  left: 3.6%;
  top: 610%;
  color: #FF2C3A;
}

.owner-img {
  width: 38%;
  border-radius: 4%;
}

.owner-pic {
  width: 100%;
  border-radius: 3%;
}

.owner-quote {
  width: 58%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.owner_fro{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #FF2C3A;
  margin: 0;
}

.owner_frqu{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #5C5C5C;
  width: 100%;
}

.owner-signature {
  height: 75px;
  width: max-content;
  object-fit: contain;

  /* margin: 2rem 0; */
  background-color: gray;
}

.line_foot{
  margin-top: 3rem;
  box-shadow: 0 0 2rem 1px black;
}

/* Footer css */

footer {
  margin-top: 3rem;
  height: 40vh;
  /* line-height: 2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFFFF;
}

.footer_head{
  margin: 0;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: #FF2C3A;
}

.footer_head_r{
  color: #747474;
}

.flinks{
  display: flex;
  width: 32%;
  justify-content: space-between;
}

.foot_link{
  color: black;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
}

.footer-social_icons {
  width: 26%;
}

.footer-contact{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: black;
}

.footer-copyright{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #959595;
}