@media screen and (max-width: 644px) {
    .head_up_right {
      width: 19%;
    }
    .navlinks{
      justify-content: flex-end;
    }
    .navlinks a {
      display: none;
    }
    .navlinks a.icon {
      float: right;
      display: block;
    }
    .navlinks.responsive {
      position: relative;
    }
    .navlinks.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navlinks.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    #myTopnav a:nth-child(5){
      color: red;
      font-size: 1.7rem;
    }
    #myTopnav.topnav{
      background-color: #ffadad;
      display: flex;
      height: 11rem;
      position: fixed;
      width: 10rem;
      right: 1rem;
      z-index: 10;
      flex-direction: column;
      justify-content: space-around;
      padding: 1rem;
    }
    #myTopnav.topnav a:nth-child(1){
      color: red;
      font-weight: 500;
    }
    #myTopnav.topnav a{
      color: rgb(0, 0, 0);
    }
    #myTopnav .topnav .responsive{
      background-color: aqua;
    }
  }